/* BEGIN NORMALIZATION SECTION */
* {
    box-sizing: border-box;
}
 
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
body {
    margin: 0;
    font-size: 18px;
}
 
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul,
span,
pre {
    margin: 0;
    padding: 0;
}
 
h1,
h2,
h3,
h4 {
    font-size: inherit;
}
 
a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

input {
    border: none;
    text-align: center;
}
 
/* END NORMALIZATION SECTION */

header,
nav,
.content,
aside {
	margin-bottom: 1px;
}
 
header {
	border: 1px solid #D0021B;
}
 
nav {
	border: 1px solid #F5A623;
}
 
.content {
	border: 1px solid #4CA884;
}
 
aside {
	border: 1px solid #4A90E2;
}
 
footer {
	border: 1px solid #9B9B9B;
}

/* Additions for V2 */
h1,
h2,
h3 {
    font-weight: bold;
    line-height: 1.2;
}
 
h1 {
    font-size: 2em;
    margin-bottom: 0.17em;
}
 
h2 {
    font-size: 1.5em;
    margin-bottom: 0.33em;
}
 
h3 { 
    font-size: 1.17em;
    margin-bottom: 0.5em;
}
 
p,
ul {
    margin-bottom: 1em;
}
 
a {
  text-decoration: none;
  color: #444;
}
 
ul {
    list-style-position: inside;
}
 
li {
    list-style-type: square;
}
 
body {
    font: 100%/1.625em 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: #333;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
 
    min-height: 100vh;  
}
 
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
 
.container {
    padding: 1em;
    padding-bottom: 0;
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
    flex: 1;
}
 
footer {
    color: white;
    background-color: #888;
 
    font-size: 0.75em;
    font-weight: 700;
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
 
footer section {
    padding: 1em;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

header a {
    display: flex;
}

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: .25em;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}